@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-primary:hover {
  background-color: #ff0000;
  border-color: #ff0000;
}
.nav {
  background-color: #ffc107;
  height: 40px;
}
.footer {
  background-color: #000000;
  position: absolute;
  bottom: 0;
}
#index .jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
