@import "variables";

.btn-primary {
    background-color: @yellow;
    border-color: @yellow;
    &:hover {
        background-color: @red;
        border-color: @red;
    }
}
//index specific
#index {
  .jumbotron{
  	background-size: cover;
  	background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
