@import "variables";

.btn-primary {
    background-color: @yellow;
    border-color: @yellow;
    &:hover {
        background-color: @red;
        border-color: @red;
    }
}

.jumbotron {
  background-image: url("images/banner-bg.png");
  background-size: cover;
}
